$light_blue: #0099e8;
$facebook_blue: rgb(60, 81, 129);
$background_gray:rgb(245, 245, 245);
$red: #ea352d;
$border_gray: rgb(230, 230, 230);
$border_gray-thick: rgb(212, 211, 211);
$btn_gray: #aaa;
$btn_thick-gray: gray;
$form_gray: rgb(136, 135, 135);
$fa_icon_gray: #b6b6b6;
$white: #fff;
$almost_white: #fffffe;
$dark_gray: #666666;
$black: rgb(51, 51, 51);
$footer_gray: #212121;
$header_btn_red: maroon;
$delivery_btn_green: #05B0B4;
$shadow_black: rgba(0, 0, 0, 0.16);
$black: #000;
