$light_blue: #0099e8;
$red: #ea352d;
$header-btn-red: maroon;
$background_gray: rgb(245, 245, 245);
$border_gray: rgb(230, 230, 230);
$btn_gray: #aaa;
$form_gray: rgb(136, 135, 135);
$fa_icon_gray: #b6b6b6;
$white: #fff;
$almost-white: #fffffe;
$dark-gray: #666666;
$black: rgb(51, 51, 51);
$footer-gray: #212121;
