.user_mypage
  .user_mypage__container
    .user_mypage__container__edit
      .user_mypage__container__edit__title
        %h2 本人情報の登録

      .user_mypage__container__edit__form
        .user_mypage__container__edit__form__description
          %p
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.user_mypage__container__edit__form__description__text-right
            =link_to "#", class: "user_mypage__container__edit__form__description__text-right__link"do
              本人確認書類のアップロードについて
              %i.fas.fa-chevron-right

        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list
        .user_mypage__container__edit__form__list

    -# サイドメニュー部分テンプレート
    =render partial: "users/user_side_menu"
