.item_wrapper
  %br
  %br
  .item
    .item__title-detail
      LV トートバッグ
    .item__info
      .item__info__inner-content-detail#content-detail
        .item__info__inner-content__image
          = image_tag 'item-bag.jpg', height: '148', width: '148'
        .item__info__inner-content__list
          %table
            %tr
              %td 出品者
              %td ユーザー名
            %tr
              %td カテゴリー
              %td レディース
            %tr
              %td ブランド
              %td LOUIS VUITTON
            %tr
              %td 商品のサイズ
              %td L
            %tr
              %td 商品の状態
              %td 未使用に近い
            %tr
              %td 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %td 配送方法
              %td 未定
            %tr
              %td 東京都
              %td 1~2日で発送
        .item__info__inner-content__account
          .item__info__inner-content__account__price
            %p ¥ 800
            %p (税込)
          .deliverly-btn 送料込み
        .item__info__inner-content__purchase-btn#btn-detail
          購入画面に進む
        .item__info__inner-content__text
          LOUIS VUITTON 今年購入 美品！
          どんな洋服にも合います。
        .item__info__inner-content__like-btn いいね
        .item__info__inner-content__alert-btn 不適切な商品の報告
        .item__info__inner-content__safety-btn あんしん・あんぜんへの取り組み