- breadcrumb :profile
.user_mypage
  .user_mypage__container
    .user_mypage__container__edit
      .user_mypage__container__edit__title
        %h2 プロフィール
      .user_mypage__container__edit__editform
        -# = form_for(@user) do |f|
        .user_mypage__container__edit__editform__name
          %figure
            = image_tag "ねこ２.jpeg", width: "60", height: "60"
          %input{type: "text", name: "nickname", class: "user_mypage__container__edit__editform__name__inputbox"}
        .user_mypage__container__edit__editform__content
          %textarea{name: "profile_comment"}
          %button{type: "submit", class: "user_mypage__container__edit__editform__content__submit redbtn"} 変更する

    -# サイドメニュー部分テンプレート
    =render partial: "users/user_side_menu"
