%footer
  %nav
    %ul
      %li
        %a プライバシーポリシー
      %li
        %a メルカリ利用規約
      %li
        %a 特定商取引に関する表記
    = image_tag 'logo-gray.svg',size: "80x80" , class: "footer__logo-img"
    %small &copy; 2019 Mercari
