%footer
  %nav
    %ul
      %li
        = link_to "プライバシーポリシー",class: 'nav_link'
      %li
        = link_to "メルカリ利用規約",class: 'nav_link'
      %li
        = link_to "特定商取引に関する表記",class: 'nav_link'
    = image_tag 'logo-gray.svg',size: "80x80" , class: "footer__logo-img"
    %small &copy; 2019 Mercari
    %br
    %br
    %br
