.item_wrapper
  %header
    = link_to (root_path) do
      = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"
  = render 'item_edit'
:css
  <!--
  .ui-autocomplete {
    width:100px;
      max-height: 300px;
      overflow-y: auto;
      box-shadow: 0px 0px 3px rgba(0, 0, 1, 1);
      overflow-x: hidden;
      padding-right: 20px;
            background:white;
            opacity:1;
            z-index:10;}
  #jquery-ui-autocomplete label {
      float: left;
      margin-right: 0.5em;
      color: black;
      font-size: 15px;
      background:white;
  }
  -->
