// show
.item {
  &__title-detail {
    line-height: 80px;
    text-align: center;

    font: {
      size: 28px;
      weight: bold;
    }
  }

  &__info {
    &__inner-content__account {

      &__price-detail {
        margin: {
          top: 20px;
          // left: 200px;
        }

        .item-price {
          float: left;

          font: {
            size: 2.9rem;
            weight: bold;
          }
        }

        .tax {
          font: {
            size: 0.7rem;
          }
        }

        .payment {
          font-size: 1rem;
        }
      }
    }
  }
}

#box-price {
  display: inline-block;
  text-align: center;

}

#item-info {
  border-bottom: 0px;
  padding: 0 40px;
}

#content-detail {
  max-width: 600px;
  padding: 0 0 25px 0;
}

#btn-detail {
  padding: 2px;
  margin-right: 10px;
}

.btn-detail {
  font: {
    size: 24px;
    weight: bold;
  }
}

// slick
#content-img {
  background-color: $background_gray;
  max-width: 220px;
  max-height: 430px;
  float: left;
  margin-right: 30px;
  padding: 0 25px 0 25px;
}

.item_img {
  float: left;
  width: 230px;
  height: 230px;
}

.item_s-img {
  width: 60px;
  height: 60px;
}

#thumb {
  padding-left: 15px;
  opacity: 0.9;
}

// 商品詳細表
th,
td {
  border: 1px solid $border_gray;
  height: 30px;
  padding: 8px;
  font-size: 0.9rem;
}

th {
  width: 110px;
  background-color: $background_gray;
}

td {
  width: 200px;
  text-align: left;
}

table {
  border-collapse: collapse;
}

.fas.fa-grin {
  margin-top: 4px;
  color: #ef5185;
  font-size: 1rem;
}

.fas.fa-meh {
  color: #fba933;
  font-size: 1rem;
}

.fas.fa-frown {
  color: #6ab5d8;
  font-size: 1rem;
}

#blue {
  color: $light_blue;
}

.deliverly-btn {
  float: right;
  color: $white;
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: $delivery_btn_green;
  padding: 1px 3px 1px 3px;

  margin: {
    top: 21px;
    left: 10px;
  }
}

.item__info__inner-content__text {
  margin: 40px 0 40px 0;
  text-align: left;
  font-size: 19px;
}

.item__info__inner-content__like-btn {
  background-color: $background_gray;
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
  display: inline;

  i {
    color: $btn_gray;
    margin-right: 3px;
  }

  span {
    font-size: 0.9rem;
  }
}

.item__info__inner-content__alert-btn {
  background-color: $background_gray;
  padding: 7px 20px 7px 20px;
  margin-left: 10px;
  border-radius: 20px;
  display: inline;

  i {
    color: $btn_gray;
    margin-right: 3px;
  }

  span {
    font-size: 0.9rem;
  }
}

.item__info__inner-content__safety-btn {
  display: inline;
  margin-left: 50px;
  color: $light_blue;
  font-size: 0.9rem;
}

.btn-box {
  float: left;
}

.sns_icon {
  display: block;
  margin: 0 auto;
}