.item {
  padding: 24px;

  &__attention {
    padding: 8px 24px 8px 24px;
    background-color: #fff6de;

    p {
      font-size: 14px;
    }
  }

  &__comment-form {
    margin-top: 10px;

    textarea {
      min-height: 116px;
      display: block;
      width: calc(100% - 22px);
      padding: 10px;
      border: 1px solid $border_gray;
      background: $white;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__comment-btn {
    margin: 16px 0 0;
    width: calc(100% - 22px);
    height: 30px;
    padding: 10px;
    background-color: $btn_gray;
  }

  #btn-comment {
    font-size: 14px;
    color: $white;
    line-height: 30px;
    margin: 297px;
  }
}

.icon_next {
  width: 740px;
  margin: 0 auto;
  padding: 10px 0;
  color: $light_blue;
  font-size: 14px;


  &__left {
    float: left;

    a {
      text-decoration: none;
      color: $light_blue;
    }
  }

  &__right {
    float: right;

    a {
      text-decoration: none;
      color: $light_blue;
    }
  }
}