$height_pixel: 44px;

.header {
  .header-lower-right {
    li.menu__user-menu {
      width: 82.39px;
      padding-left: 14px;

      .nav-user-profile-img {
        border-radius: 30px;
      }

      a.menu__user-menu__button {
        text-decoration: none;
      }

      a:hover {
        color: $light_blue;
        /*リンクにマウスが乗ったら背景色を変更する*/
      }

      i.fa-list-ul {
        color: $red;
      }

      ul.menu__second-level.user {
        right: 30px;

        .text-box {
          .user-name {
            font-size: 16px;
          }

          padding-top: 15px;
          line-height: 15px;
          text-align: center;
          margin-bottom: 10px;
        }

        .user-box {
          .user-profile-img {
            top: 30px;
            position: absolute;
            left: 130px;
            border-radius: 30px;
          }

          min-height: 80px;

          img {
            float: left;
          }

          .fa-chevron-right {
            text-align: center;
            position: absolute;
            right: -20px;
            top: 50%;
          }

          .text-box {
            font-size: 16px;
            color: $fa_icon_gray;
            font-weight: bold;
            margin: 150px 0px 0 0px;
            position: absolute;
            line-height: 20px;
            margin-bottom: 10px;
          }
        }

        .sale-point {
          margin-bottom: 20px;

          &__textbox {
            margin: 0 16px;
            height: 40px;
            background: $background_gray;
            border: 1px solid $border_gray;

            &__title {
              position: absolute;
              left: 20px;
              float: left;
            }

            &__value {
              font-size: 14px;
              position: absolute;
              right: 35px;
              margin-right: 8px;
            }

            &__arrow {
              font-size: 8px;
              color: $fa_icon_gray;
              position: absolute;
              right: 30px;
            }
          }
        }

        .user-nav-items {
          &__item {
            width: 100%;
            border-top: 1px solid $border_gray;
            background: $background_gray;
            height: 50px;

            &__text {
              position: absolute;
            }

            &__arrow {
              position: absolute;
              right: 20px;
            }
          }
        }

        width: 320px;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        height: 551px;
        border-right: 1px solid $border_gray;
        border-left: 1px solid $border_gray;
        box-shadow: 0px 1px 2px -1.5px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 40px;
        background: $white;

        a {
          padding: 0 16px;
          text-decoration: none;
        }

        li:hover {
          background: $white;
          color: $white;

          a.second-level {
            color: black;
          }
        }
      }
    }

    li.menu__user-menu:hover ul.menu__second-level {
      list-style: none;
      top: $height_pixel;
      visibility: visible;
      opacity: 1;
    }

    .title-mypage {
      position: absolute;
      top: 0;
      left: 50px;
    }

    /* floatクリア */
    .menu:before,
    .menu:after {
      content: " ";
      display: table;
    }

    .menu>li.menu__user-menu {
      position: relative;
    }

    .menu__second-level li a:hover {
      background: ＄white;
      color: ＄white;
    }

    .header-lower-left ul.menu li.menu__user-menu {
      width: 135.797px;
      padding-left: 11px;
    }

    .menu>li {
      a.last {
        pointer-events: none;
        color: $almost-white;
      }

      float: left;
      height: $height_pixel;
      line-height: 35px;
      background: $white;

      a {
        display: block;
        color: black;
        font-size: 14px;

        a.menu__user-menu__button:hover {
          color: $light_blue;
        }

        i.fa-tag {
          color: $red;
        }
      }
    }
  }
}

.image_soldout_red-triangle-top {
  width: 0;
  height: 0;
  border-left: 100px solid $red;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 53px;
  z-index: 20px;
}

.image_soldout_red-letter-top {
  p {
    color: $white;
    font-weight: 600;
    font-size: 20px;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    z-index: 30px;
    position: absolute;
    top: 80px;
  }
}