.user_mypage__container__main__user_info {
  height: 130px;
  position: relative;
  padding: 20px;
  background: image-url("user_mypage_background_image.jpg");
  background-size: cover;
  text-align: center;

  &__link {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    color: #333;
    text-decoration: none;
    touch-action: manipulation;

    figure {
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
    }

    &__user_name {
      margin: 8px 0 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
    }

    &__count {
      margin: 8px 0 0;

      &__rating {
        display: inline-block;
        font-size: 14px;

        span {
          margin-left: 8px;
          font-size: 16px;
          font-weight: 600;
        }
      }

      &__listing {
        display: inline-block;
        font-size: 14px;
        margin-left: 16px;

        span {
          margin-left: 8px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}