.user_mypage__container__main__buyed_items {
  margin: 40px 0 0;
  background: $background_gray;

  &__title {
    padding: 0 16px;
    background: $background_gray;
    font-size: 16px;
    line-height: 72px;
  }

  &__tabs {
    padding-bottom: 40px;
    background: $white;

    &__btn {
      width: 50%;
      height: 74px;
      background-color: $border_gray;
      line-height: 74px;
      font-size: 16px;
      text-align: center;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
    }

    &__content {
      display: none;
      padding: 160px 0 60px;
      clear: both;
      overflow: hidden;
      text-align: center;
      font-size: 16px;
      color: $fa_icon_gray;
      font-weight: 600;
    }

    .is-active {
      background-color: $white;
      border-top: solid 2px red;
    }
  }
}
