.user_mypage__container__main__notification_todo {
  margin: 0;
  background: #fff;

  &__tabs {
    background: #fff;

    // タブのスタイル
    .tab_item {
      width: 50%;
      height: 74px;
      background-color: #EAEAEA;
      line-height: 74px;
      font-size: 16px;
      text-align: center;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
    }

    // ラジオボタン消す
    input[name="tab_item"] {
      display: none;
    }

    // 中身のスタイル
    &__content {
      display: none;
      clear: both;
      overflow: hidden;

      &__list {
        display: block;
        list-style: none;

        &__item {
          border-bottom: 1px solid #eee;
          position: relative;

          &__link {
            display: block;
            padding: 16px;
            color: #333;
            text-decoration: none;
            touch-action: manipulation;
            overflow: hidden;

            figure {
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              margin: 0;

              .user_mypage__container__main__notification_todo__tabs__content__list__item__link__icon {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                background-color: #EBEBEB;
              }
            }

            &__body {
              margin: 0 40px 0 68px;
              text-align: left;

              &__text {
                overflow: hidden;
                max-height: 4.4em;
                text-overflow: ellipsis;
                line-height: 1.5;
              }

              time {
                display: inline-block;
                color: #888;

                .far.fa-clock {
                  margin: 0 8px 0 0;
                }

                span {
                  vertical-align: middle;
                  font-size: 14px;
                }
              }
            }

            .fas.fa-chevron-right {
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translate(0, -50%);
            }
          }
        }

        &__go-list {
          border: 0;
          position: relative;
          padding: 16px;

          &__link {
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
          }
        }
      }

      &__todo_list {
        padding: 160px 0 60px;
        clear: both;
        overflow: hidden;
        text-align: center;
        font-size: 16px;
        color: #ccc;
        font-weight: 600;
      }
    }

    // 選択されているタブのコンテンツのみ表示
    #information_tab:checked~#information_content,
    #todo_tab:checked~#todo_content {
      display: block;
    }

    // 選択されているタブのスタイルを変える
    input:checked+.tab_item {
      background-color: #fff;
      border-top: solid 2px red;
    }
  }
}