- breadcrumb :cards_index
.user_mypage
  .user_mypage__container
    = render partial: 'users/user_side_menu'
    = render partial: 'cards_main_menu', locals: { move_from: 'card' }
    = render partial: 'items/item_footer'