%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.user_mypage
.user_mypage__container
  .credit_3
    .credit__title
      %h2 支払い方法
    = render partial:'cards/cards_detail', locals: { move_from_action: "new" }
= render partial:'items/item_footer'