%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.user_mypage
.user_mypage__container
  .credit_3
    .credit__title
      %h2 支払い方法
    = render partial:'cards/cards_detail'
    .credit__btn_add-2
      = link_to "次へ進む", "/users/1/cards/1", class:'credit_card'
      -#### 仮置き。サーバサイド実装後、/users/:user_id/cards/:idに修正
= render partial:'items/item_footer'

