@import "config/colors";
@import "config/font";
@import "config/reset";
@import "config/general";
@import "mixin/icon";
@import "font-awesome";
@import "modules/cards";
@import "modules/items";
@import "partials/*";
@import "top";
html,
body {
  margin: 0;
  padding: 0;

  .mercari-wrapper {
    background-color: $background_gray;
    font-family: $mercari_font;
  }
}
