@mixin required__icon {
  background-color: $red;
  padding: 3px 5px;
  color: $white;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  font-weight: 570;
  margin-left: 10px;
}

.required__icon {
  @include required__icon;
}